<!DOCTYPE html>
<html>
<head>
    <title>IT Asset Tracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h2>IT Asset Tracker</h2>
        <form method="post">
            <label>Serial Number</label>
            <input type="text" name="serial" placeholder="Enter Serial No." required>

            <label>Select New Location</label>
            <select name="location" required>
                <option value="">--Select--</option>
                <option>On Site</option>
                <option>Warehouse</option>
                <option>Scrap</option>
            </select>

            <button type="submit">Update Location</button>
        </form>

        {% if msg %}
        <div class="msg">{{ msg }}</div>
        {% endif %}
    </div>
</body>
</html>
